@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

html, body {
  font-family: Roboto,"Open Sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  /* height: 100% !important; */
}

.dot-pattern {
  width: 100vw;
  min-height: 100vh;
  background: rgba(247, 247, 255)
    radial-gradient(rgba(161, 161, 200, 0.28) 11%, transparent 1%);
  background-size: 11px 11px;
}

.moving-dot {
  width: 100%;
  height: 100%;
  background: rgb(247, 253, 255);
  position: relative;
  overflow: hidden;
}

.moving-dot::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #a9d5f0 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #a9d5f0 20%);
  background-size: 30px 30px; /* Adjust the size of the pattern */
  animation: moveBackground 8s linear infinite; /* Adjust the animation duration and timing function */
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
}

/* // CSS for typewriter and cursor effect (Add to your CSS file) */
.typewriter-text {
  display: inline-block;
  white-space: nowrap;
  /* overflow: hidden; */
  font-size: 6rem;
}
.text-tag{
  justify-self: right;
  margin-right: 2rem;
  margin-top: -3rem;
}

.cursor {
  display: inline-block;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@font-face {
  font-family: 'Ben Sen Handwriting';
  src: url('./components/BenSenHandwriting.ttf') format('truetype');
}

.typewriter-text {
  font-family: 'Ben Sen Handwriting', sans-serif;
}

.bg-customImage {
  background-image: url('./images/heroBGmin.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.indexbutton {
  position:absolute;
  top: 60%;         /* Move the button further down on the page */
  right: 10%;       /* Align the button towards the right side */
  transform: translate(0, -50%); /* Adjust the vertical centering */
}

.custom-button {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #0ca5e9;
  border: 2px solid #0ca5e9;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.custom-button span {
  position: relative;
  z-index: 2;
}

.custom-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0ca5e9;
  transition: all 0.35s;
}

.custom-button:hover {
  color: #fff;
}

.custom-button:hover:after {
  width: 100%;
}